

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: black;
  height: 70%;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
}

.screen {
  height: 15%;
  width: 85%;
  background-color: rgb(34, 34, 34);
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
}






.expression {
  margin-left: 5px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  color: white;
}

.result {
  font-size: 25px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
}

.keys-container {
  height: 70%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  margin-bottom: 20px;
}



.twoColumn {
  grid-column: span 2;
}

.calculator-button {
  font-size: 25px;
  font-weight: bold;
  background-color: #e0e0e0;
}

.js-light {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  position: relative;
  bottom: 3px;
  left: 150px;
  cursor: pointer;
}

.js-clear-button {
  color: red;
}